nav {
	font-size: 2rem;
	background-color: #f1f1f1;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

nav ul li {
	cursor: pointer;
	padding: 0.5rem;
	flex: auto;
	text-align: center;
}

nav ul li:hover {
	background-color: darkblue;
	color: white;
}

/* if the width < 400 -> ul -> column */
@media all and (max-width: 500px) {
	nav ul {
		flex-direction: column;
	}
	nav ul li {
		text-align: center;
	}
}
